$color-primary-dark: rgba(10, 1, 178, 0.58);
$color-primary-medium: #4c4c9acd;
$color-primary-light: #2c6afac9;
$color-accent-dark: hsla(243, 98%, 18%, 0.801);
$color-accent-light: hsla(243, 55%, 87%, 0.801);

$color-secondary-blue-dark: #144272;
$color-secondary-blue-medium: #205295;
$color-secondary-blue-light: #2c74b3;

$color-secondary-red-light: #c85c8e;
$color-secondary-red-medium: #9d3c72;
$color-secondary-red-dark: #7b2869;

$color-secondary-green-light: #a9af7e;
$color-secondary-green-medium: #7d8f69;
$color-secondary-green-dark: #557153;

$color-white: #fff;
$color-grey-dark: #777;

$color-black: #000;
$color-blue-light: #ceccf02a;

//FONT
$default-font-size: 1.6rem;
$headings-font-size: 2.2rem;

//GRID
$grid-width: 140rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 5rem;
